body {

    background-image:url("./imagen/-WHKwd1i_400x400.jpg") ;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    

}

.container-fluid {
    display: flex; /* or inline-flex */
    flex-direction: inherit;
    border-block: 30px;
    width: 50%;
    height: 300px;
  }